##### Data

This dataset consists of news headlines.

In [25]:
import os
import pandas as pd

#load the data and look at the structure
data = pd.read_json('data/' + [x for x in os.listdir('data/') if x.endswith('.json')][0], lines=True)

In [33]:
df = data[['category','headline']][:10]; df

        category                                           headline
0          CRIME  There Were 2 Mass Shootings In Texas Last Week...
1  ENTERTAINMENT  Will Smith Joins Diplo And Nicky Jam For The 2...
2  ENTERTAINMENT    Hugh Grant Marries For The First Time At Age 57
3  ENTERTAINMENT  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4  ENTERTAINMENT  Julianna Margulies Uses Donald Trump Poop Bags...
5  ENTERTAINMENT  Morgan Freeman 'Devastated' That Sexual Harass...
6  ENTERTAINMENT  Donald Trump Is Lovin' New McDonald's Jingle I...
7  ENTERTAINMENT  What To Watch On Amazon Prime That’s New This ...
8  ENTERTAINMENT  Mike Myers Reveals He'd 'Like To' Do A Fourth ...
9  ENTERTAINMENT         What To Watch On Hulu That’s New This Week

##### Simple preprocess

Gensim simple preprocessor creates a list of lower case words and has the ability to ignore words greater than a specific character size as well as less than.

In [58]:
import gensim

tokens = df['headline'].apply(gensim.utils.simple_preprocess, min_len=0); tokens

0    [there, were, mass, shootings, in, texas, last...
1    [will, smith, joins, diplo, and, nicky, jam, f...
2    [hugh, grant, marries, for, the, first, time, ...
3    [jim, carrey, blasts, castrato, adam, schiff, ...
4    [julianna, margulies, uses, donald, trump, poo...
5    [morgan, freeman, devastated, that, sexual, ha...
6    [donald, trump, is, lovin, new, mcdonald, s, j...
7    [what, to, watch, on, amazon, prime, that, s, ...
8    [mike, myers, reveals, he, d, like, to, do, a,...
9    [what, to, watch, on, hulu, that, s, new, this...
Name: headline, dtype: object

##### Remove stopwords

Words like 'a', 'because', 'should', etc. are removed as they typically don't contribute to the statment's meaning.

In [61]:
from nltk.corpus import stopwords

sw = set(stopwords.words('english')) #create the stopword set

tokens_sw = tokens.apply(lambda s: [w for w in s if w not in sw]); tokens_sw

0             [mass, shootings, texas, last, week, tv]
1    [smith, joins, diplo, nicky, jam, world, cup, ...
2             [hugh, grant, marries, first, time, age]
3    [jim, carrey, blasts, castrato, adam, schiff, ...
4    [julianna, margulies, uses, donald, trump, poo...
5    [morgan, freeman, devastated, sexual, harassme...
6    [donald, trump, lovin, new, mcdonald, jingle, ...
7                    [watch, amazon, prime, new, week]
8    [mike, myers, reveals, like, fourth, austin, p...
9                             [watch, hulu, new, week]
Name: headline, dtype: object

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

df['headline']

0    There Were 2 Mass Shootings In Texas Last Week...
1    Will Smith Joins Diplo And Nicky Jam For The 2...
2      Hugh Grant Marries For The First Time At Age 57
3    Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4    Julianna Margulies Uses Donald Trump Poop Bags...
5    Morgan Freeman 'Devastated' That Sexual Harass...
6    Donald Trump Is Lovin' New McDonald's Jingle I...
7    What To Watch On Amazon Prime That’s New This ...
8    Mike Myers Reveals He'd 'Like To' Do A Fourth ...
9           What To Watch On Hulu That’s New This Week
Name: headline, dtype: object